<html>
<head>
<title>Сайтик</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
<p><h1 align="center">Поиск двойников</h1></p>
<div class="container">
<div class="row">
    <h2>Выберите файл для поиска</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p><h4>Введите имя</h4></p>
        <p>
            <input type="text" id="name" name="name" autocomplete="off" required>
            <input type="submit" value="Отправить" class="btn btn-info">
        </p>
    </form>
    {% if filename %}
         <div>
             <h1 align="center">Топ-5 похожих людей</h1>
            <img src="{{ url_for('static', filename='uploads/'+filename) }}"style ='max-width:256px; border: 5px solid #f00;'>
            <img src="data:image/jpeg;base64, {{ faces[0] }} "alt="fail" style ='max-width:512px;' />
            <img src="data:image/jpeg;base64, {{ faces[1] }} "alt="fail" style ='max-width:512px;' />
             <p></p>
             <img src="data:image/jpeg;base64, {{ faces[2] }} "alt="fail" style ='max-width:256px;' />
            <img src="data:image/jpeg;base64, {{ faces[3] }} "alt="fail" style ='max-width:256px;' />
            <img src="data:image/jpeg;base64, {{ faces[4] }} "alt="fail" style ='max-width:256px;' />
        </div>
    {% endif %}
</div>
</div>
</body>
</html>